{% extends "layout.html" %}
{% block content %}

<div class="authors mt-5">
  <h1>MAFAT Radar challenge</h1>
    <h5 class="mission  mt-5">project:</h5> <small class="text">classifying living, non-rigid objects detected by doppler-pulse radar systems</small>
    <h5 class="names mt-5">team members: </h5>  <small class="text">Michael Marcus, Inbar Shirizly, Nir Barazida</small>
    <h6 class="score mt-5">Model best AUC score on test data of MAFAT: 76.15% AUC</h6>
</div>

<div class="upload file mt-5">
  <h1>Upload new File</h1>
  <form action="prediction" method="post" enctype=multipart/form-data>
    <input type=file name=file>
    <input type=submit value=Upload>
  </form>
</div>

{% endblock content %}

